
<ion-view title="FACEBLOCK">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-content ng-model='user' class="has-header">
		<div class="list card">

			<div class="item item-avatar">
				<img src="{{followers.data.profile_image_url}}">
				<h2>{{followers.data.name}}</h2>

				<p>@{{followers.data.screen_name}}</p>
						<p>{{followers.data.description}}</p>
			</div>
			<div class="item item-body">

				<div class="item">
					<h2>Latest Tweet:<h2>
					<p>{{followers.data.status.text}}</p>
				</div>
			</div>


			</div>

			<div class="item">
				<div class="button-bar">
					<button class="button button-stable" type="submit" ng-click='getFollower();'><i class="icon ion-checkmark-round"></i> Follow</button>

					<button class="button button-assertive" type="submit" ng-click='unfollow(); showAlert(followers.data.screen_name)'><i class="icon ion-close-round"></i> Unfollow</button>

				</div>
			</div>

		</div>
	</ion-content>
</ion-view>
